@charset "utf-8";

* {margin: 0;padding: 0;}
body {color: #333;font-family: "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;font-size: 0.8em;text-align: center;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
th,td {color: #333;font-size: 13px;}
th {font-weight: bold;}
p,li,dt,dl {line-height: 1.6;}
li {list-style-type: none;}
img {border: 0;}
address,cite {font-style: normal;}
pre {font-family: "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;text-align: left;}
pre code {font-family: sans-serif;font-size: 1.0em;}
hr {display: none;}
fieldset {border: 0;}
input {font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif;font-size: 1.0em;color: #333;}
textarea {font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif;font-size: 1.0em;color: 333;}
q:before, q:after {content: '';}
.clear {clear: both;}

a:link {color: #D71213;text-decoration: underline;}
a:visited {color: #D71213;text-decoration: underline;}
a:hover {color: #D71213;text-decoration: none;}
a:active {color: #D71213;text-decoration: none;}

div#page {width:auto;margin: 0 auto;}

div#header {width: 1000px;margin: 0 auto 20px auto;padding: 40px 0 20px 0;}
div#header h1 {margin: 0 auto;font-weight: bold;}

div#main {white-space: nowrap;}

div#info {margin: 0 auto 20px auto;padding: 10px;background: #D0CFCE;border: #9E9C9B 1px solid;}

div#main table {width: 1500px;margin: 0 auto 20px auto;border-collapse: collapse;border-spacing: 0;border: #9E9C9B 1px solid;}
div#main th {width: auto;padding: 3px 5px;border-right: #9E9C9B 1px solid;border-bottom: #9E9C9B 1px solid;background: #D0CFCE;font-weight: bold;}
div#main td {width: 100px;padding: 3px 5px;border-right: #9E9C9B 1px solid;border-bottom: #9E9C9B 1px solid;background: #EEEDEC;}
div#main td.class_name {width: auto;text-align: left5;}
div#main tr.combined td {background: #FFD2CA;}
div#main td.rank_up {color: #E5443E;}
div#main td.rank_down {color: #4285F4;}
div#main td.rank_up {}
div#main span.rank_up {color: #E5443E;}
div#main span.rank_down {color: #4285F4;}
div#main span.rank_up {}


div#footer {width: 1000px;margin: 0 auto 40px auto;padding: 20px 0;}

/********************************************************/
div#main table.usesIn{
	width: auto;
	margin: 5px auto 5px 5px;
	border-collapse: collapse;
	border-spacing: 0;
	border: #9E9C9B 1px solid;
}
div#main tr.combined td.g1{
	background-color: #bde9ba;
}
div#main tr.combined td.g2{
	background-color: #ffffc0;
}
div#main tr.combined td.comb{
	background-color: #ffffc0;
}
